


body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Arial', sans-serif;
  background-color:#f0f2f5;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}


.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 40px; 
  background-color: #f0f2f5;
}


.profile-card {
  width: 100%; 
  max-width: 800px; 
  padding: 40px;
  height: 50%;
  background-color: white;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  text-align: center;
}


.avatar {
  width: 300px;
  height: 300px;
  margin: 0 auto 20px;
  background-color: #1976d2;
}


.avatar-icon {
  font-size: 80px;
}


.text-field {
  margin-bottom: 20px;
  width: 90%;
}


.button-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
}

.info-grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  background-color: #efefef;
}


.info-grid-item {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-start;
  font-size: 1.1rem;
}


.email-text {
  color: gray;
  margin-bottom: 10px; 
}

h5 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 2rem;
}


.snackbar {
  width: 100%;
}
