.booking-table-container {
    width: 80%;
    margin: 20px auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  h2 {
    text-align: center;
    color: #333;
    font-size: 1.8rem;
    margin-bottom: 20px;
  }
  
  /* Table Styles */
  .booking-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  }
  
  .booking-table th,
  .booking-table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
    font-size: 0.9rem;
  }
  
  .booking-table th {
    background-color: #f5f5f5;
    color: #333;
  }
  
  .booking-table tbody tr:nth-child(even) {
    background-color: #fafafa;
  }
  
  .booking-table tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  /* Table Row Action Button */
  .cancel-button {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cancel-button:hover {
    background-color: #c0392b;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    list-style-type: none;
  }
  
  .pagination li {
    margin: 0 5px;
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 5px;
  }
  
  .pagination .active {
    background-color: #007bff;
    color: white;
  }
  
  .date-picker {
    display: flex;
    flex-direction: row-reverse;
    right: 200px; /* Adjust the right margin as needed */
    top: 200px;   /* Adjust the top margin to align vertically */
    z-index: 1000; /* Ensure it appears above other content */
  }
  
  .date-input {
    padding: 8px 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .date-input::placeholder {
    color: #888;
    font-style: italic;
  }
  .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  max-width: 300px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.confirm-button,
.cancel-button {
  padding: 8px 16px;
  margin: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.confirm-button {
  background-color: #e74c3c;
  color: white;
  transition: background-color 0.3s ease;
}

.cancel-button {
  background-color: #ff0000;
  color: white;
  transition: background-color 0.3s ease;
}

.cancel-button1 {
    background-color: #006eff;
  color: white;
  transition: background-color 0.3s ease;
}

.confirm-button[disabled] {
  background-color: #000c66;
  cursor: not-allowed;
  color: white;
}
